

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <!-- copy -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <!-- This is where the css code is stored -->
    <link rel="stylesheet"/>
</head>
<body>

  <div class="text-center">
    <h1>Player Role</h1>
  </div>

  <div class="row mt-4 text-center justify-content-center">
    <div class = "col-2">
      <a class="btn btn-primary" href='/hangChooseWord' method = "POST" role="button">ADMIN</a>
    </div>
    <div class = "col-2">
      <a class="btn btn-primary" href='/hangman' method = "POST" role="button">PLayer1</a>
    </div> 
    <div class = "col-2">
        <a class="btn btn-primary" href='/hangman' method = "POST" role="button">PLayer2</a>
      </div>
 </div> 

</body>
</html>

