<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <!-- copy -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <!-- This is where the css code is stored -->
    <link rel="stylesheet"/>
    <!-- Adding the JavaScript file -->

</head>
<body>
    <table>
        <thead>
          <th>id</th>
          <th>name</th>
        </thead>
        <tbody id="place-here"></tbody>
      </table>
      <script>
        $.get('/getData', {}, function(result) {
          let res = '';
          result.forEach(data => {
            res += `<tr><td>${data.id}</td><td>${data.something}</td></tr>`
          })
          $('#place-here').html(res)
        });
      </script>
</body>