<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <!-- copy -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <!-- This is where the css code is stored -->
    <link rel="stylesheet"/>
    <!-- Adding the JavaScript file -->

</head>
<body>
  
  <div class="text-center">
    <h1>WORDLE</h1>
  </div>

  <div class = row>
    <a class="btn btn-primary" href='/signin' role="button">GameMode</a>
</div>

  <div class="Game">

    <div id="GuessGrid" class="Guess Grid mt-5">
      <div id="row1" class="row text-center justify-content-center">
        <div id="col1" class="col-1" style = "border:2px solid rgb(88, 86, 86); background-color: #ffffff;" >
          .
        </div>
        <div id="col2" class="col-1" style = "border:2px solid rgb(88, 86, 86); background-color: #ffffff;">
          .
        </div>
        <div id="col3" class="col-1" style = "border:2px solid rgb(88, 86, 86); background-color: #ffffff;">
          .
        </div>
        <div id="col4" class="col-1" style = "border:2px solid rgb(88, 86, 86); background-color: #ffffff;">
          .
        </div>
        <div id="col5" class="col-1" style = "border:2px solid rgb(88, 86, 86); background-color: #ffffff;">
          .
        </div>
      </div>
      <div id="row2" class="row text-center justify-content-center">
        <div id="col1" class="col-1" style = "border:2px solid rgb(88, 86, 86); background-color: #ffffff;;" >
          .
        </div>
        <div id="col2" class="col-1" style = "border:2px solid rgb(88, 86, 86); background-color: #ffffff;">
          .
        </div>
        <div id="col3" class="col-1" style = "border:2px solid rgb(88, 86, 86); background-color: #ffffff;">
          .
        </div>
        <div id="col4" class="col-1" style = "border:2px solid rgb(88, 86, 86); background-color: #ffffff">
          .
        </div>
        <div id="col5" class="col-1" style = "border:2px solid rgb(88, 86, 86); background-color: #ffffff">
          .
        </div>
      </div>
      <div id="row3" class="row text-center justify-content-center">
        <div id="col1" class="col-1" style = "border:2px solid rgb(88, 86, 86); background-color: #ffffff;" >
          .
        </div>
        <div id="col2" class="col-1" style = "border:2px solid rgb(88, 86, 86); background-color: #ffffff">
          .
        </div>
        <div id="col3" class="col-1" style = "border:2px solid rgb(88, 86, 86); background-color: #ffffff">
          .
        </div>
        <div id="col4" class="col-1" style = "border:2px solid rgb(88, 86, 86); background-color: #ffffff">
          .
        </div>
        <div id="col5" class="col-1" style = "border:2px solid rgb(88, 86, 86); background-color: #ffffff">
          .
        </div>
      </div>
      <div id="row4" class="row text-center justify-content-center">
        <div id="col1" class="col-1" style = "border:2px solid rgb(88, 86, 86); background-color: #ffffff;" >
          .
        </div>
        <div id="col2" class="col-1" style = "border:2px solid rgb(88, 86, 86); background-color: #ffffff">
          .
        </div>
        <div id="col3" class="col-1" style = "border:2px solid rgb(88, 86, 86); background-color: #ffffff">
          .
        </div>
        <div id="col4" class="col-1" style = "border:2px solid rgb(88, 86, 86); background-color: #ffffff">
          .
        </div>
        <div id="col5" class="col-1" style = "border:2px solid rgb(88, 86, 86); background-color: #ffffff">
          .
        </div>
      </div>
      <div id="row5" class="row text-center justify-content-center">
        <div id="col1" class="col-1" style = "border:2px solid rgb(88, 86, 86); background-color: #ffffff;" >
          .
        </div>
        <div id="col2" class="col-1" style = "border:2px solid rgb(88, 86, 86); background-color: #ffffff">
          .
        </div>
        <div id="col3" class="col-1" style = "border:2px solid rgb(88, 86, 86); background-color: #ffffff">
          .
        </div>
        <div id="col4" class="col-1" style = "border:2px solid rgb(88, 86, 86); background-color: #ffffff">
          .
        </div>
        <div id="col5" class="col-1" style = "border:2px solid rgb(88, 86, 86); background-color: #ffffff">
          .
        </div>
      </div>
      <div id="row6" class="row text-center justify-content-center">
        <div id="col1" class="col-1" style = "border:2px solid rgb(88, 86, 86); background-color: #ffffff;" >
          .
        </div>
        <div id="col2" class="col-1" style = "border:2px solid rgb(88, 86, 86); background-color: #ffffff">
          .
        </div>
        <div id="col3" class="col-1" style = "border:2px solid rgb(88, 86, 86); background-color: #ffffff">
          .
        </div>
        <div id="col4" class="col-1" style = "border:2px solid rgb(88, 86, 86); background-color: #ffffff">
          .
        </div>
        <div id="col5" class="col-1" style = "border:2px solid rgb(88, 86, 86); background-color: #ffffff">
          .
        </div>
      </div>
    </div>

    <div class="Keyboard mt-5">
      <div  class="row text-center justify-content-center">
        <div class="col">
          <div class="btn-group me-2" role="group" aria-label="First group">
            <button id="Q" type="button" class="btn btn-secondary">Q</button>
            <button id="W" type="button" class="btn btn-secondary">W</button>
            <button id="E" type="button" class="btn btn-secondary">E</button>
            <button id="R" type="button" class="btn btn-secondary">R</button>
            <button id="T" type="button" class="btn btn-secondary">T</button>
            <button id="Y" type="button" class="btn btn-secondary">Y</button>
            <button id="U" type="button" class="btn btn-secondary">U</button>
            <button id="I" type="button" class="btn btn-secondary">I</button>
            <button id="O" type="button" class="btn btn-secondary">O</button>
            <button id="P" type="button" class="btn btn-secondary">P</button>
          </div>
        </div>
      <!-- so here is where we add out identifiers -->
      </div>
      <div class="row text-center justify-content-center">
        <div class="col">
          <div class="btn-group me-2" role="group" aria-label="First group">
            <button id="A" type="button" class="btn btn-secondary">A</button>
            <button id="S" type="button" class="btn btn-secondary">S</button>
            <button id="D" type="button" class="btn btn-secondary">D</button>
            <button id="F" type="button" class="btn btn-secondary">F</button>
            <button id="G" type="button" class="btn btn-secondary">G</button>
            <button id="H" type="button" class="btn btn-secondary">H</button>
            <button id="J" type="button" class="btn btn-secondary">J</button>
            <button id="K" type="button" class="btn btn-secondary">K</button>
            <button id="L" type="button" class="btn btn-secondary">L</button>
          </div>
        </div>
      </div>
      <div class="row text-center justify-content-center">
        <div class="col">
          <div class="btn-group me-2" role="group" aria-label="First group">
            <button type="button" class="btn btn-secondary">ENTER</button>
            <button id="Z" type="button" class="btn btn-secondary">Z</button>
            <button id="X" type="button" class="btn btn-secondary">X</button>
            <button id="C" type="button" class="btn btn-secondary">C</button>
            <button id="V" type="button" class="btn btn-secondary">V</button>
            <button id="B" type="button" class="btn btn-secondary">B</button>
            <button id="N" type="button" class="btn btn-secondary">N</button>
            <button id="M" type="button" class="btn btn-secondary">M</button>
            <button type="button" class="btn btn-secondary">DEL</button>
          </div>
        </div>
      </div>
    </div>


    <div class="row mt-4 text-center">
      <h1 id="winMsg" class = "text-black display-4" hidden>You Win!</h1><h1 id="loseMsg" class = "text-black display-4" hidden>You Lose :(</h1>
      <div>
      <button id="backBtn" type="button" class="btn btn-secondary" hidden>Return Home</button>
    </div>


    <script src="public/singlePlayer.js"></script>
</body>
</html>