* {
    color: #fcfcfc;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

body {
    background-color: #121213;
    /* background: linear-gradient(to right, #121213, #092503 ) */
}